<div class="contain">
  <div class="title">
    <h2>Vamos Começar?</h2>
  </div>
  <form [formGroup]="cadastroForm" (submit)="enviocadastro">
    <div>
      <label for="str_nome">
        <p class="texto">nome completo</p>
      </label>
      <input class="input" formControlName="nome" type="text" id="str_nome" />
    </div>
    <div>
      <div>
        <label for="str_email">
          <p class="texto">e-mail</p>
        </label>
        <input class="input" formControlName="email" type="text" id="str_email" />
      </div>
    </div>
    <div class="pt-1">
      <label for="str_cpf">
        <p class="texto">CPF</p>
      </label>
      <input class="input" formControlName="cpf" type="text" id="str_cpf" />
    </div>
    <div class="pt-1">
      <label for="str_renda">
        <p class="texto">renda principal</p>
      </label>
      <input class="input" formControlName="renda" type="text" id="str_renda" />
    </div>
    <div class="bt-org">
      <button class="btn btn-light">Próximo</button>
    </div>
  </form>
</div>
