<div class="contain">
  <div class="title">
    <h2>Me fale mais sobre você.</h2>
  </div>
  <form [formGroup]="cadastroForm" (submit)="enviocadastro">
    <div>
      <label for="str_dtnsc">
        <p class="texto">data de nascimento</p>
      </label>
      <input class="input" formControlName="dtnasc" type="text" id="str_dtnsc" />
    </div>
    <div>
      <div>
        <label for="str_celular">
          <p class="texto">Celular</p>
        </label>
        <input class="input" formControlName="celular" type="text" id="str_celular" />
      </div>
    </div>
    <div>
      <label for="str_profissao">
        <p class="texto">Profissão</p>
      </label>
      <input class="input" type="text" formControlName="profissao" id="str_profissao" />
    </div>
    <a routerLink='cadastro'><-voltar</a>
    <div class="bt-org">
      <button type="button" class="btn btn-light">Finalizar</button>
    </div>
  </form>
</div>

